* {
  margin: 0;
  padding: 0;
}

/* Clear floats */
.group:after, .ranger:after {
  content: "";
  display: table;
  clear: both;
}

/* Main App */
.ranger {
  font-family: "Open Sans", "Helvetica", sans-serif;
  background: #eeeeee;

  /* Temp styles to take up entire page */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  overflow-y: hidden;
}

/* A Single Pane */
.ranger .pane {
  position: relative;;
  float: left;
  width: 33%;
  height: 100%;
}

/* Pane Items */
.ranger .pane .items {
  position: absolute;
  top: 50px;
  bottom: 0;
  overflow-y: auto;
  width: 100%;
}

/* Pane Title */
.ranger .pane .title {
  text-align: center;
  font-weight: bold;
  line-height: 50px;
  background: #333;
  color: #fff;
  border-right: 1px solid #111;
}

/* A Single Item */
.ranger .item {
  position: relative;
  font-size: 14px;
  line-height: 40px;
  padding-left: 10px;
  background: white;
  cursor: pointer;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}

/* Active Item */
.ranger .pane .active {
  background: #d4d4d4;
}

/* Items With Children Get Arrows */
.ranger .pane .hasChild:after {
  content: "";
  position: absolute;
  display: block;
  right: 10px;
  top: 14px;
  height: 0;
  width: 0;
  border-left: 7px solid #d4d4d4;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

/* Active Item Arrow */
.ranger .pane .active.hasChild:after {
  border-left-color: #fff;
}

/* Active Item in the Active Pane */
.ranger .active .active {
  background: #3b72d4;
  color: white;
  border-bottom-color: #3b72d4;
}
